.hero {
    position: relative;
    height: 100vh;
    display: flex;
    flex: 1;
}
.bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/Img10.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.eat-image{
  width: 100%;
}
.eat-div{
  border: solid;
  border-radius: 5px;
  border-color: white;
}
.eat-paragraph{
    color: white;
    font-size: 20px;
    text-align: center;
}
.eat-grid{
  display: grid;
  grid-template-columns: 1fr;
}


.drink-image{
  width: 100%;
}
.drink-div{
  border: solid;
  border-radius: 5px;
  border-color: white;
}
.drink-paragraph{
    color: white;
    font-size: 20px;
    text-align: center;
}
.drink-grid{
  display: grid;
  grid-template-columns: 1fr;
}


.playArea-image{
  width: 100%;
}
.playArea-div{
  border: solid;
  border-radius: 5px;
  border-color: white;
}
.playArea-paragraph{
    color: white;
    font-size: 20px;
    text-align: center;
}
.playArea-grid{
  display: grid;
  grid-template-columns: 1fr;
}


.location-image{
  width: 100%;
}
.location-div{
  border: solid;
  border-radius: 5px;
  border-color: white;
}
.location-paragraph{
    color: white;
    font-size: 20px;
    text-align: center;
}
.location-grid{
  display: grid;
  grid-template-columns: 1fr;
}

.grid-container{
  padding-left: 5px;
  padding-right: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
  background-color: #1d3428;
}

.button {
  background-color: yellow;
  border-radius: 15px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 30px;
}


.ambient-image{
  width: 100%;
}
.ambient-div{
  border: solid;
  border-radius: 5px;
  border-color: white;
}
.ambient-paragraph{
    color: white;
    font-size: 20px;
    text-align: center;
}
.ambient-grid{
  display: grid;
  grid-template-columns: 1fr;
}



.parking-image{
  width: 100%;
}
.parking-div{
  border: solid;
  border-radius: 5px;
  border-color: white;
}
.parking-paragraph{
    color: white;
    font-size: 20px;
    text-align: center;
}
.parking-grid{
  display: grid;
  grid-template-columns: 1fr;
}

